/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}
/* 设置默认字体 */
body,
button,
input,
select,
textarea {
  /* for ie */
  /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
  /*font: 12px/1 Tahoma, Helvetica, Arial, "5b8b4f53", sans-serif;*/
  font: 24px/1 Tahoma, Microsoft YaHei, "微软雅黑", sans-serif;
  /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}
/* 统一等宽字体 */
small {
  font-size: 12px;
}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul,
ol {
  list-style: none;
}
/* 重置文本格式元素 */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
abbr[title],
acronym[title] {
  /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help;
}
q:before,
q:after {
  content: '';
}
/* 重置表单元素 */
legend {
  color: #000;
}
/* for ie6 */
fieldset,
img {
  border: none;
  max-width: 100%;
}
/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */
}
/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 重置 hr */
hr {
  border: none;
  height: 1px;
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
  overflow-y: scroll;
}
/* 统一字体样式*/
.nav-font {
  color: #ffffff;
  font-size: .7rem;
}
.foot-font {
  font-size: .65rem;
  color: #b7b7b7;
}
.text-font {
  font-size: 0.55rem;
  color: #b7b7b7;
}
.title-md-font {
  font-size: 1rem;
}
.title-sm-font {
  font-size: 0.75rem;
}
.title-explain {
  font-size: .55rem;
}
/*导航*/
.header {
  width: 100%;
  background-size: contain;
}
.nav-class {
  width: 50rem;
  padding-top: .5rem;
  margin: 0 auto;
}
.nav-class .nav-logo {
  display: block;
  width: 8.5rem;
  border: none;
  margin-right: 1.25rem;
  opacity: 1;
  margin-top: -0.2rem;
}
.nav-class .nav-logo img {
  width: 90%;
}
.nav-class .nav-logo span {
  font-size: 1rem;
  color: #fff;
  font-weight: 900;
  font-family: "宋体";
}
.nav-class .nav-logo:hover {
  border: none;
}
.nav-class a {
  float: left;
  width: 5.4rem;
  opacity: 0.7;
  color: #fff;
  line-height: 2rem;
  text-align: center;
  margin: 0 0.5rem;
  text-decoration: none;
}
.nav-class .menu a {
  opacity: 1;
}
.nav-class a:hover {
  color: white;
  opacity: 1;
}
.nav-logo:hover {
  color: white;
  opacity: 1;
}
.dropdown {
  z-index: 11;
}
/* 向下的箭头 */
.dropdown:hover {
  border: none;
}
.dropdown:hover .dot-bottom img {
  transform: rotate(180deg);
}
#nav ul li {
  float: left;
  text-align: center;
  position: relative;
}
#nav ul li a {
  text-decoration: none;
  display: block;
}
#nav ul li ul {
  position: absolute;
  left: .8rem;
  display: none;
  width: 4.5rem;
  top: -0.25rem;
}
#nav ul li ul li {
  float: none;
  text-align: left;
  margin-top: 2.25rem;
  padding-right: .5rem;
  margin-left: -0.5rem;
}
#nav ul li ul li a {
  background: #fff;
  width: 100%;
  color: #676767;
}
#nav ul li ul li a:hover {
  background-color: #ef4e42;
  color: #fff;
  border: none;
}
#nav ul li:hover ul {
  display: block;
}
/*渐变边框*/
.navbar-fixed-top {
  background: #ffffff;
  width: 100%;
  border-bottom: 1px solid #ededed;
  box-shadow: 0 2px #F4F4F3;
}
.navbar-fixed-top .nav-class {
  width: 50rem;
  height: 3rem;
}
.navbar-fixed-top .nav-class span {
  color: #ca3646;
}
.navbar-fixed-top .nav-class .nav-logo:hover {
  border: none;
}
.navbar-fixed-top .nav-class a {
  color: #595959;
}
.navbar-fixed-top .nav-class a:hover {
  color: #ef4e42;
}
/*footer*/
.footer {
  width: 100%;
  height: 15rem;
  background: #333333;
  text-align: center;
  font-family: "microsoft yahei";
}
.footer-box {
  width: 75%;
  height: 11rem;
  margin: 0 auto;
  padding-top: 3.5rem;
}
.foot-left {
  width: 30%;
  float: left;
  margin-left: 1rem;
  padding-top: 1rem;
}
.foot-left .logo-footer {
  width: 100%;
  height: 4rem;
  float: left;
  text-align: left;
  /*span {
            font-size: 1rem;
            color: #c7c7c8;
            // font-weight: 600;
            font-family: "宋体";*/
}
.foot-left .logo-footer img {
  width: 50%;
}
.foot-left .aboutus {
  width: 100%;
  height: 3.5rem;
  text-align: left;
  line-height: 1.25rem;
}
.scan {
  width: 40%;
  height: 6.25rem;
  float: left;
  line-height: 1rem;
  padding-left: 4rem;
  padding-top: 1.5rem;
}
.scan li {
  float: left;
  padding-right: 1.5rem;
  color: #b7b7b7;
  font-family: "microsoft yahei";
  width: 39%;
}
address {
  width: 27%;
  height: 8rem;
  float: left;
  text-align: left;
  padding-top: 1rem;
  line-height: 1.25rem;
}
.address .strong {
  font-size: 1.25rem;
  text-align: left;
  color: #d6d6d6;
}
.header {
  width: 100%;
  height: 28rem;
  background: #FFFFFF;
  background: url(../image/data-banner.png) no-repeat center 0rem;
  padding-left: 0rem;
  background-size: contain;
}
.li-service-active a {
  color: #fff;
}
/*内容*/
.container-fluid {
  padding: 0 0;
}
.row {
  margin: 0 0;
}
.big-data-title {
  height: 20rem;
}
.big-data-title img {
  width: 100%;
  height: 100%;
}
.titles-style {
  line-height: 1.5rem;
  width: 80%;
  border-bottom: 1px dashed #dfdfdf;
  padding-bottom: 0.75rem;
}
.col-md-2 img {
  width: 100%;
  height: 9rem;
}
.collect-icon {
  margin-top: 3%;
}
.deal-icon {
  height: 15rem;
  background-color: #fafafa;
  margin-top: 2%;
}
.unscramble-box img {
  width: 22.5rem;
  height: 20rem;
  margin-top: 3%;
}
.description-text {
  color: #666666;
  font-size: .8rem;
  letter-spacing: .05rem;
  font-weight: 400;
  line-height: 1rem;
  font-size: 0.65rem;
}
.consult-content {
  margin-top: 1%;
  width: 12.5rem;
  height: 12.5rem;
  background-image: url(../image/consult-icon.png);
  background-size: 100% 100%;
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
}
.content-test-style {
  position: relative;
  top: 23%;
  left: .6%;
  line-height: 1.75rem;
}
label {
  font-weight: normal;
}
.content-test-style label {
  margin-top: 65%;
  font-weight: normal;
}
.analyse-labels-back {
  width: 33.5rem;
  height: 12.5rem;
  margin-top: 3%;
}
.analyes-item {
  color: #666666;
  border: 1px solid #666666;
  border-radius: .25rem;
  padding: 5rem 1rem;
}
.deal-icon-img {
  width: 13.5rem;
  height: 7.5rem;
  margin-top: 2%;
}
.consult-box {
  height: 20rem;
  margin-top: 2%;
  background: #fafafa url(../image/data-backg.png) no-repeat center 5.5rem;
}
.collection-box,
.deal-icon,
.unscramble-box,
.consult-box,
.analyse-box {
  margin-top: 2%;
}
.deal-icon label:first-child {
  margin-top: 1.5%;
}
.consult-box label:first-child {
  margin-top: 1.5%;
}
.message-sys-box label:first-child {
  margin-top: 1.5%;
}
.message-title {
  border: 1px solid #ef4e42;
  font-size: .9rem;
  color: #ef4e42;
  font-weight: 400;
  padding: .75rem 2rem;
  border-radius: .25rem;
  margin-top: 2%;
}
.message-sys-box {
  margin-top: 2%;
  height: 20rem;
  background-color: #fafafa;
}
.direction-icon {
  height: 3rem;
  width: 1rem;
  margin-top: .5%;
}
.message-content-item {
  background-color: #ef4e42;
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  color: white;
  font-size: .75rem;
  line-height: 1.25rem;
  letter-spacing: .1rem;
}
.message-content-item img {
  margin-top: 15%;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 8%;
}
.it-box {
  background-color: #efece5;
  width: 100%;
  padding-bottom: 2.5rem;
}
.it-box label:first-child {
  color: #ef4e42;
  font-size: 1.3rem;
  margin-top: 1%;
  line-height: 2rem;
}
.it-description p {
  line-height: 1.5rem;
}
.it-box img {
  height: 4.5rem;
  width: 4.5rem;
  margin-top: 15%;
}
.item-content {
  color: #666666;
}
.item-content p {
  line-height: 1rem;
}
.item-content label {
  margin-top: 5%;
  font-size: 1rem;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
  width: 7.5rem;
  height: 9rem;
}
/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* front pane, placed above back */
.front {
  z-index: 2;
}
/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  height: 9rem;
  width: 100%;
  border-radius: .25rem;
  color: white;
  font-size: .65rem;
  line-height: 1rem;
}
.back p:first-child {
  margin-top: 45%;
}
.back-highly {
  background-color: #3fc4fd;
}
.back-overall {
  background-color: #fe6b5b;
}
.back-huge {
  background-color: #fdb821;
}
.back-base {
  background-color: #08c899;
}
@media only screen and (max-width: 768px) {
  .header {
    height: 22rem;
  }
}
