<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-left: -25%">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 90rem">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">用户电子协议</h4>
            </div>
            <div class="modal-body" style="height: 80rem">
                <img src="favicon.ico" />
                <div class="row text-center" style="margin: 1%">
                    <h4><strong>幼儿园幼儿体质监测提升体系合作共建协议&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RELIABLE-6101</strong></h4>
                </div>
                <div style="font-size: 1.7rem;">
                    <div style="line-height: 2.8rem"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;甲方（幼儿园）、乙方（北京睿莱教育科技有限公司）双方本着自愿、平等、诚信，共同致力于儿童体质提升的原则，达成幼儿园幼儿体质监测提升体系合作共建协议。</div>
                    <h4 style="line-height: 2.8rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>一、合作内容与合作形式：</strong></h4>
					<div style="line-height: 2.8rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（一）合作内容：</div>
                    <div style="line-height: 2.8rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、乙方负责向甲方幼儿园内进行体质监测，为便于体质监测工作的开展乙方向甲方提供幼儿体质监测器材，并提供睿莱幼儿体质监测提升体系；</div>
                    <div style="line-height: 2.8rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、乙方每年至少2次对甲方委派的教师进行相关培训和体系使用；</div>
                    <div style="line-height: 2.8rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、乙方为甲方免费提供幼儿体质监测分析系统及报告；</div>
                    <div style="line-height: 2.8rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、甲方在睿莱幼儿体质监测提升体系使用中如遇授课或教学疑惑时，有权请求乙方给予协助解决；</div>
                    <div style="line-height: 2.8rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、甲方保证提供的信息资料是真实、合法的，能够严格保密并妥善保管乙方所提供服务内容；</div>
                    <div style="line-height: 2.8rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、甲方按照乙方幼儿体质监测要求，<mark style="background-color: #ffffff;color:red">每学期至少安排1次全园幼儿体质监测</mark>；</div>
                    <div style="line-height: 2.8rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、甲方配合乙方<mark style="background-color: #ffffff;color:red">向幼儿家长进行必要的幼儿健康、体质监测宣传</mark>；</div>
                    <div style="line-height: 2.8rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8、签约实施幼儿体质监测工作一年（包含）以上，乙方协助甲方在园内设立幼儿体质监测示范检测站。</div>
                    <div style="line-height: 2.8rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9、在双方合作终止时，乙方有权收回所配送给甲方的相关体质监测器材。</div>
                    <div style="line-height: 2.8rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（二）合作形式：</div>
                    <div style="line-height: 2.8rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、甲方在本园按计划全园开展幼儿体质监测体系，乙方按照监测进程开展相应服务支持工作；</div>
                    <div style="line-height: 2.8rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、本协议自签订之日起生效，<mark style="background-color: #ffffff;color:red">有效期一年</mark>，到期后双方无异议则顺延一年。在履行过程中若一方对协议条款提出变更，应提前一个月以书面形式提出，经双方协商达成一致意见后方可变更，在变更协议未达成之前原签订的协议仍然有效。</div>
                    <h4 style="line-height: 2.8rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>二、费用标准：</strong></h4>
                    <div style="line-height: 2.8rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（一）幼儿体质监测提升体系为<mark style="background-color: #ffffff;color:red">公益项目</mark>，园所服务部分全部<mark style="background-color: #ffffff;color:red">免费实施</mark>。</div>
                    <div style="line-height: 2.8rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（二）家长可在国民体质检测中心官方微信平台上通过国民体质检测编码<mark style="background-color: #ffffff;color:red">免费查询</mark>免费查询幼儿体质监测结果，如需定制个性化体质报告及运动处方者，自愿缴费10元（服务包含：幼儿体质测评报告、幼儿运动能力测评报告、幼儿简易运动指导报告）。</div>
                    <div style="float: right; margin-top: 1%">
                        <div style="line-height: 2.8rem">北京睿莱教育科技有限公司</div>
                        <div style="float: right;line-height: 2.8rem">2016年7月26日</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="height: 10rem">
                <div style="margin-top: 4%; margin-left: -90%">
                    <a href="physicalExaminationEnroll.html" class="btn btn-primary btn-lg" style="position: relative;right: 36rem">同意</a>
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" style="position: relative; right: 36rem">不同意</button>
                </div>

            </div>
        </div>
    </div>
</div>