<div class="footer foot-font">
    <div class="footer-box">
        <div class="foot-left">
            <div class="logo-footer">
                <a class="nav-logo" href="Index.html"><img src="../../assets/image/logo-foot.png" /></a>
            </div>
       
            <div class="aboutus">
                <span>让每个孩子拥有健康好体质</span><br />
                <span>邮箱：BUSSINESS@MRELIABLE.COM</span>
            </div>
        </div>
        <div class="scan">
            <ul>
                <li>
                    <img src="../assets/image/weixin.png" /><br />
                    <span>官方公众号</span>
                </li>
                <li>
                    <img src="../assets/image/kefu.png" /><br />
                    <span>官方客服号</span>
                </li>
            </ul>
        </div>
        <address class="address">
            <span>北京总部：北京市房山区凯旋大街建设路十八号创新谷</span><br />
            <span>电 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：400-833-8163 </span> <br />
            <span>运营中心：西安市友谊西路中科创星 211室</span><br />
            <span>  电 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：029-6363-0163 </span>
        </address>
    </div>
</div>