<div class="nav-class " id="nav">
    <a class="nav-logo" href="Index.html"><img id="changePicture" src="../../assets/image/logo1.png" /></a>
    <ul class=" nav-font">
        <li class="li-index-active">
            <a href="Index.html">首 页</a>
        </li>
        <li class="li-phyExSystem-active">
            <a href="PhyExSystem.html">体测体系</a>
        </li>
        <li>
            <a class="dropdown li-equipment-active " href="javascript:return false;">
                体测工具
                <span class="dot-bottom"><img class="jiantou" src="../../assets/image/jiantou2.png" /></span>
            </a>
            <ul class="menu">
                <li>
                    <a href="BlanceBeam.html">平衡木</a>
                </li>
                <li>
                    <a href="EquipmentBox.html">器材箱</a>
                </li>
                <li>
                    <a href="EquipmentSolution.html">解决方案</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="dropdown li-service-active" href="javascript:return false;">
                产品服务
                <span class="dot-bottom"><img class="jiantou" src="../../assets/image/jiantou2.png" /></span>
            </a>
            <ul class="menu">
                <li>
                    <a href="ImproveService.html">改善服务</a>
                </li>
                <li>
                    <a href="BigData.html">大数据平台</a>
                </li>

                <!--<li>
                    <a href="robotProduct.html">智能学园</a>
                </li>-->
            </ul>
        </li>
        <li class="li-joinUs-active">
            <a href="JoinUs.html">加盟合作</a>
        </li>
    </ul>
</div>
